<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Tarjeta Credito</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">{{ accion | uppercase}} Tarjeta</h5>

                    <form [formGroup]="formTarjeta" (ngSubmit)="guardarTarjeta()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user" [class.green-icon]="this.formTarjeta.get('titular')?.valid"
                                    [class.red-icon]="this.formTarjeta.get('titular')?.invalid && this.formTarjeta.get('titular')?.touched">
                                </i>
                            </span>
                            <input formControlName="titular" type="text" class="form-control" placeholder="Titular">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-credit-card"
                                    [class.green-icon]="this.formTarjeta.get('numeroTarjeta')?.valid"
                                    [class.red-icon]="this.formTarjeta.get('numeroTarjeta')?.invalid && this.formTarjeta.get('numeroTarjeta')?.touched">
                                </i>
                            </span>
                            <input formControlName="numeroTarjeta" maxlength="16" type="text" class="form-control"
                                placeholder="Numero de Tarjeta">
                        </div>

                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar"
                                            [class.green-icon]="this.formTarjeta.get('fechaExpiracion')?.valid"
                                            [class.red-icon]="this.formTarjeta.get('fechaExpiracion')?.invalid && this.formTarjeta.get('fechaExpiracion')?.touched">
                                        </i>
                                    </span>
                                    <input formControlName="fechaExpiracion" maxlength="5" type="text"
                                        class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-key"
                                            [class.green-icon]="this.formTarjeta.get('cvv')?.valid"
                                            [class.red-icon]="this.formTarjeta.get('cvv')?.invalid && this.formTarjeta.get('cvv')?.touched">
                                        </i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3" type="password" class="form-control"
                                        placeholder="CVV">
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button [disabled]="this.formTarjeta.invalid" type="submit" class="btn btn-success btn-lg">
                                <i class="fa-solid fa-database"></i>&nbsp; Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Listado de Tarjetas</h5>
                    <div class="d-flex flex-wrap gap-2 mb-3">
                        <button type="button" class="btn btn-outline-primary" [class.active]="mesSeleccionado === '01'"
                            (click)="filtrarMes('01')">
                            Enero
                        </button>

                        <button type="button" class="btn btn-outline-primary" [class.active]="mesSeleccionado === '08'"
                            (click)="filtrarMes('08')">
                            Agosto
                        </button>

                        <button type="button" class="btn btn-outline-primary" [class.active]="mesSeleccionado === '12'"
                            (click)="filtrarMes('12')">
                            Diciembre
                        </button>

                        <button type="button" class="btn btn-outline-secondary" (click)="mostrarTodas()">
                            Mostrar todas
                        </button>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of listaTarjetas">
                                <td>{{tarjeta.titular}}</td>
                                <td>{{tarjeta.numeroTarjeta}}</td>
                                <td>{{tarjeta.fechaExpiracion}}</td>
                                <td>
                                    <i (click)="editarTarjeta(tarjeta)" class="fa-solid fa-pen-to-square text-info"></i>
                                </td>
                                <td>
                                    <i (click)="eliminarTarjeta(tarjeta.id)" class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>